.container {
  width: 1210px;
  margin: 0 auto;
  font-size: medium;
}
.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-child {
  text-align: center;
  width: calc(25% - 4px);
  background-color: red;
  border: 2px solid white;
}
.lisbon {
  width: calc(50% - 4px);
  background-color: deepskyblue;
}

.San {
  width: calc(50% - 4px);
  background-color: rgb(255, 0, 179);
}

.Sidney {
  width: calc(100% - 4px);
  background-color: purple;
}
.paris {
  background-color: aquamarine;
}

.balgrade {
  background-color: purple;
}

.moscow {
  background-color: brown;
}

.tel {
  background-color: coral;
}

.Cairo {
  background-color: darkorange;
}

.New {
  background-color: lightgreen;
}
.Delhi {
  background-color: teal;
}

.Tokyo {
  background: green;
}

.p {
  color: darkblue;
}
